<%= form_with(model: genre) do |form| %>
  <div class="mb-3 form-floating">
    <%= form.text_field :name, class: "form-control" %>
    <%= form.label :name %>
  </div>
  <div class="d-flex justify-content-center">
    <%= link_to "Back", genres_path, class: "btn btn-secondary d-inline mx-2" %>
    <%= form.submit "Save", class: "btn btn-secondary" %>
  </div>
<% end %>
