<%= form_with(model: director) do |form| %>
  <div class="mb-3 form-floating">
    <%= form.text_field :name, class: "form-control" %>
    <%= form.label :name %>
  </div>
  <div class="mb-3 form-floating">
    <%= form.text_field :nationality, class: "form-control" %>
    <%= form.label :nationality %>
  </div>
  <div class="mb-3 form-floating">
    <%= form.date_field :birthday, class: "form-control" %>
    <%= form.label :birthday %>
  </div>
  <div class="mb-3 form-floating">
    <%= form.collection_select :genre_id, Genre.all, :id, :name, { prompt: "" }, { class: "form-select" } %>
    <%= form.label :genre_id %>
  </div>
  <div class="d-flex justify-content-center">
    <%= link_to "Back", directors_path, class: "btn btn-secondary d-inline mx-2" %>
    <%= form.submit "Save", class: "btn btn-secondary" %>
  </div>

<% end %>

